<head>
<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
</head>
<div class="col-md-6">
<table class="table table-bordered">
  <thead>

<% the_id = params["id"] %>
<% books = Book.read(the_id) %>
<% customer_reviews = Review.read("book_id" => books["id"]) %>



<h2> Book: <%= books["title"] %> </h2>
<ul>

<li>
    Price: ($<%= books["price"] %>)
</li>
<% name = books["title"] %>
<li>
    Average Star Rating: (<%= Review.where("book" => name).average("rating") %>)
</li>

  <tr>
    <th> Star Rating </th>
    <th> Review </th>
  </tr>
  </thead>
  <tbody>

<% all_reviews = Review.where("book" => books["title"]) %>
<% all_reviews.each do |review| %>

  <tr>
    <td> <%= review["rating"] %> </td>
    <td> <%= review ["review"] %> </li> </td>
  </tr>

<% end %>
</tbody>
</table>
</div>
</body>
